<%- partial('_partial/head') %>
<body class="home blog custom-background custom-font-enabled single-author">
  <div id="page" class="hfeed site">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div id="main" class="wrapper">
        <div id="primary" class="site-content"><div id="content" role="main"><%- body %></div></div>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>